.liste-films{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  article {
    flex-basis: 24%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px black solid;

  }

}





